@media (max-width: 1920px) {
    #premImgs img{
        width: 130%;
    }

    .dulcClasicTxt h2{
        font-size: 4.8em;
    }

    .dulcClasicTxt ul li{
        font-size: 2.5em;
    }

    #areaEspec img{
        margin-left: 2%;
        margin-top: 1%;
    }
}
@media (max-width: 1790px){
    #dulcClasicImgs img{
        width: 95%;
    }
    #areaEspec img{
        margin-top: 2%;
    }

}

@media (max-width: 1657px){
    #premImgs img{
        width: 120%;
    }
}

@media (max-width: 1446px){
    #premImgs img{
        width: 110%;
    }

    .dulcClasicTxt h2{
        font-size: 4em;
    }

    .dulcClasicTxt ul li{
        font-size: 2em;
    }
}

@media (max-width: 1200px){
    #areaPedidos>img {
        width: 70%;
        padding-bottom: 2%;
    }
}

@media (max-width: 1110px){
    #areaEspec img{
        height: auto;
    }

    #premImgs img{
        width: 98%;
    }

    .dulcClasicTxt h2{
        font-size: 3.5em;
    }

    .dulcClasicTxt ul li{
        font-size: 1.6em;
    }
}

/* BREAK POINT */

@media (max-width: 1001px) {
    #areaEspec img{
        width: 300px;
        margin-left: 2%;
        margin-top: 5%;
    }

    #prodContainer{
        padding-top: 25%;
    }

    #areaRosca, #areaManz{
        flex-basis: 100%;
        padding-top: 5%;
        font-size: 1.6em;
    }

    .dulcClasicTxt ul{
        padding-left: 0;
    }


    .dulcClasicTxt{
        padding: 0;
        flex-basis: 30%;
    }

    .dulcClasicTxt ul li {
        padding: 0;
    }

}

@media (max-width: 924px) {
    #dulcPremium{
        flex-flow: column-reverse wrap;
    }



    #dulcClasicImgs div{
        flex-basis: 100%;
        padding: 10% 0;
    }

    #dulcClasicImgs div img {
        width: 100%;
    }

    .dulcClasicTxt{
        flex-basis: 100%;
    }

    .dulcClasicTxt ul li{
        font-size: 2.7em;
    }


    #prodContainer h1{
        font-size: 4.2em;
    }

    #areaManz h2, #areaRosca h2{
        font-size: 3.2em;
    }
    #areaPedidos>img {
        width: 80%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}

@media (max-width: 639px) {
    #premImgs img{
        width: 90%;
    }
    #areaManz h2, #areaRosca h2{
        font-size: 2.5em;
    }

}

@media (max-width: 599px){
    #areaEspec img{
        margin-left: 0;
        margin-top: 5%;
    }

}

@media (max-width: 494px){
    #contactanos{
        width: 80%;
    }
}

@media (max-width: 415px){
    #prodContainer h1{
        font-size: 3.2em;
    }
    #areaManz h2, #areaRosca h2{
        font-size: 2em;
    }

    #areaEspec img{
        width: 240px;
        height: auto;
    }

}